@import url(http://fonts.googleapis.com/css?family=Orbitron);


body {
    margin: 50px;
    background-color: #000000;
    color : #ffffff;
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;
}


a {
    color : #b6ff00;
}

input {
    padding: 5px;
    border : 2px solid #808080;
    border-radius: 8px;
    color: #08aff8;
    background-color: #525252;
    margin: 5px;
}

.command_bar {
    padding: 10px;
    border : 1px solid #808080;
    border-radius: 8px;
    color: #08aff8;
    background-color: #1a1818;
    font-size: 14px;
    font-weight: 100;
}

.command_bar_label {
    clear:both; 
    overflow:auto;
    float: right;
}

.container {
    border: 0px solid #1e3401;
    position: static;
    clear:both;
    margin-top:-2px;
    margin-left:-51px;
    margin-bottom:-5px;
    opacity: 085;
}

.member_set {
    margin: 5px;
    padding: 5px;
    padding-left: 5px;
    border: 1px solid #08aff8;
     border-radius: 8px;
}

.member {
    padding: 3px;
}

.member_label {
    color: #08aff8;
}

.member_value {
    color: #ffffff;
}

