<!DOCTYPE html>
<html>
	<head>
		<title>Battlespace</title>
        <script type="text/javascript" src="scripts/lib/headjs/head.min.js" data-headjs-load="scripts/sys.js"></script>
	</head>
	<body>
        <div>
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/login">Log In</a>
			</p>
		<% } else { %>
            <div class="command_bar">
                <a href="/">Home</a> |
                <a href="/account">Account</a> |
                <a href="/logout">Log Out</a>
                <span class="command_bar_label"><%= user.username %></span>
            </div>
		<% } %>
        </div>
        <%- body %>
	</body>
</html>
